* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
   
font-family: Helvetica, Arial, Helvetica, sans-serif;
background-color: #dbbaba;
}

header{
    padding: 20px 35px;
    background-color: #3a3636;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    /* used to make sticky work on older versions of safari and chrome */
    position: -webkit-sticky;
    width: 100%;
    z-index: 9999;
}
header h1{
    font-weight: bold;
    font-size: 40px;
    color:#3a3636;
    background-color:aqua;
    padding: 20px 20px 20px 100px;
    margin-left: -50px;
}
header nav{
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
}
header nav ul{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
}
a{
    padding: 15px 15px;
    font-weight: bolder;
    color: aqua;
    flex-wrap: wrap;
}
.subtitle{
    height: 300px;
    width:100%;
    background-size: cover;
    background-position: center;
    background-image: url("../images/computer-science-background.png");
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    
   
}
.subtitle-h4{
    background-color: black;
	width: 80%;
	height: 120px;
	opacity: 1;
	display: block;
	justify-content: center;
	align-items: center;
	color: #C4BDB8;
    position:relative;
    right: 10px;
    left: -100px;
    padding: 20px 30px;
    line-height: 1.5;
    flex-wrap: wrap;
    
}
.subtitles img{
    
    margin-right: 40px;
    margin-left: 5px;
    height: 200px;
    
}
.intro{
    
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    flex-direction: row;
    
    
}
.vertical-sec{
    
    margin-top: 50px;
    margin-left: 30%;
    font-size: 40px;
    padding-right: 20px;
    padding-left: 20px;
    border-right: 6px solid rgb(128, 0, 128);
    height: 200px;
    flex: 0 0 20%;
    text-align: right;
    
}


.content p{
    width: 500px;
    
    margin-bottom: 20px;
    font-size: 25px;
    position: relative;
    left: 400px;
    top: -190px;
    font-size: 15px;
    line-height: 1.9;
    
}

  















































@media screen and (max-width: 980px){
header{
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  }
  header h1 {
    width: 100%;
    text-align: center;
  }
  header nav ul{
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }
  header nav ul li a {
    font-size: 20px;
  }
  .subtitle{
    width: 100%;
    text-align: center;
    margin-bottom: 100px; 
  }
  .subtitle-h4 {
    margin-top: 0;
    width:200%;
    margin-right: -50px;
    padding:auto;
    margin-left: 30px;
    line-height: 2;

 }
  .subtitle img{
    height: 180px;
    position:relative;
    left: -400px;
    top: 0px;
    bottom: -10px;
 }

}

