/* setting default settings to zero */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /* background color of the page */
  body{
    background-color: #dadada;
  }
/* header styling starts */
header{
  width:100%;
  padding-bottom: 20px;
  
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  background-color: #4e4c4c;
}
header h1{
  padding: 20px 10px 20px 50px;
  margin-right: auto;
  background-color: aquamarine;
  margin-top: 20px;
  
}
header nav{
  margin: 7px 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
 header nav ul{
  display:flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 -10px;
}
nav ul li a{
padding: 10px 15px;
font-weight: lightwer;
font-size: 1.55vw;
align-items: end;
margin-left: auto;
color: aquamarine;
}
header nav ul li a:hover{
  background-color: red;
  color: yellow;
  text-decoration: none;
}
header h1:hover{
  background-color: red;
  color: yellow;
  text-decoration: underline;

}
/* header styling ends */

/* subtitle styling starts */
.subtitle{
  background-color: black;
  width:100%;
  height: 200px;
  display: flex;
  justify-content: center;
  
}
.subtitle img{
  
  margin-right: 20px;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  height: 190px;
  width: 150px;
  

}
.subtitle h7{
  width: 80%;
  color: aqua;
  margin: auto;
  line-height: 2;
  text-align: center;
}
/* subtitle styling ends */

/* main content styling starts */

.wrapper{
  display:flex;
  flex-flow: row wrap;
  text-align: center;
  margin-right: 20px;
  max-width: 100%;
  margin-left: 50px;
  height: 100%;
  
}
.vertical-headings{
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 100px;
  
}
.vertical-headings h2{
  border-right: 3px solid #2a213a;
  margin-top: 60px;
  flex: 0 0 18%;
  padding-right: 0px;
  text-align: right;
  font-size: 70px;
  padding-right: 20px;
  color:#2a213a;
  
}
.vertical-headings div{
  flex: 0 0 70%;
}
.paragraph{
 margin-top: 60px;
  text-align: start;
  line-height: 2;
  margin-right: 90px;
  margin-left: 20px;
 
}
.containers{
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  
  
}
.container{
  
  border: 3px solid aqua;
  min-height: 150px;
  height: 300px;
  flex-basis: calc(50% - 16px);
  display: flex;
  align-items: flex-end;
  padding-bottom: 20px;
  margin:8px;
  text-decoration: none;
  background-color: darkgray;
  font-size: 16px;
  background-position: center;
  background-repeat: no-repeat;
  
}
.container:first-child {
  min-height: 420px;
  flex-basis: 100%;
  background-color: skyblue;
}
.container:nth-child(2){
  background-color: beige;
}
.container:nth-child(3){
  background-color:bisque;
}
.container:nth-child(4){
  background-color:aliceblue;
}
.container:nth-child(5){
  background-color:antiquewhite;
}
.small-text {
  text-decoration: none;
  color: black;
}

.container h3 {
  font-size: 2rem;
  text-decoration: none;
  color: black;
}

.container .title {
  padding: 5px 8px;
  background-color: darkgray;
}
.container:hover{
  
    background-color: red;
    color: yellow;
  
}
.project1{
  background-image: url(../images/p1.png);
}
.runbuddy{
  background-image: url(../images/Screen\ Shot\ 2021-07-03\ at\ 2.08.17\ PM.png);
}

.contactme {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
  margin-left: -75px;
  
}

.contactme address a {
  margin-left: 50px;
  color: black;
  text-decoration: underline;
  padding: 5px;
  font-size: 30px;
  font-style: normal;
}
.contactme a:hover {
  background-color: red;
color: yellow;
text-decoration: none;
  
}
/* main body stlying ends */

/* @media screen styling starts */

@media screen and (max-width:980px) {
  header{
    padding-bottom: 0;
    justify-content: center;
    position: relative;
    height: 100px;
  }
  header h1{
    margin-top: auto;
    width:100%;
    text-align: center;
    
  }
  header nav{
   justify-content: center;
   padding: 20px 0 25px 0;
  }
  .vertical-headings h2{
    text-align: left;
    border-right: none;
    border-bottom: 2px solid black;
    justify-content: center;
    flex: 0 0 auto;
  }
  .contactme{
    padding:auto;
  }
  address{
    margin-top: 40px;
  }
}

  @media screen and (max-width: 768px) {
    
    header{
      width:120%;
    }
    header h1{
      text-align: left;
    }
    nav{
      width: 100%;
    }
    nav ul{
      padding-right: 90px;;
    }
    .subtitle{
      width: 110%;
      
    }
    .subtitle img{
      padding-left: 20px;
    }
    .contactme{
      width: 1500px;
    }
    .contactme a{
      padding: 60px;

    }
  }

    /* @media screen styling ends */

    
  














  















































