* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
   
font-family: Helvetica, Arial, Helvetica, sans-serif;
background-color: #dbbaba;
}

header{
    padding: 20px 35px;
    background-color: #3a3636;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    /* used to make sticky work on older versions of safari and chrome */
    position: -webkit-sticky;
    width: 100%;
}
header h1{
    font-weight: bold;
    font-size: 40px;
    color:#3a3636;
    background-color:aqua;
    padding: 20px 20px 20px 100px;
    margin-left: -50px;
}



